Source: git-wise
Section: devel
Priority: optional
Maintainer: creeponsky <support@git-wise.dev>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.5.1
Homepage: https://github.com/creeponsky/git-wise
#Vcs-Browser: https://salsa.debian.org/debian/git-wise
#Vcs-Git: https://salsa.debian.org/debian/git-wise.git
Rules-Requires-Root: no

Package: python3-git-wise
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: AI-powered Git commit message generator
 Git-Wise is a Python-based tool that automatically generates
 meaningful Git commit messages. It uses advanced AI technology
 to analyze code changes and produce concise yet informative
 commit messages. The tool supports multiple languages, offers
 adjustable detail levels, and enhances Git workflow efficiency.
